.container{
	display: grid;
	width: 500px;
	height: 500px;
	border: 10px solid black;
}

.child{
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
}
.child:hover{
	background-color: blue;
	/* cursor: grabbing; */
}