.container{
	display: grid;
	width: 500px;
	height: 500px;
	border: 10px solid black;
}

.child{
	border: 0.5px solid rgb(240, 240, 240);
	margin: 0;
	padding: 0;
}
.child:hover{
	background-color: blue;
	/* cursor: grabbing; */
}

.rgb-toggle-on{
	background: linear-gradient(45deg, rgba(249,255,0,1) 0%, rgba(20,195,253,1) 75%);

}

.black-toggle-on{
	background-color: black;
	color: white;
}